


.page-text {
	font-size: 40pt;
}

.slide-left {
	width: 1000px;
	position: fixed;
	background-color: green;
	height: 700px;
	top: 140px;
	transition-property: left;
	left: -900px;
	z-index: 3;
}

.total-days {
	height: 50px;
	width: 150px;
	background-color: white;
	display: inline-block;
	font-size: 12pt;
	position: relative;
	float: right;
	right: 42px
}

.show-calendar {
	height: 50px;
	width: 150px;
	background-color: #00FFFF;
	display: inline-block;
	font-size: 12pt;
	position: relative;
	float: right;
	right: 28px;
}

.day-container {
	position: relative;
	display: block;
	font-size: 30pt;
	height: 380px;
	width: 800px;
	left: 110px;
	float: left;

	/*margin: 0 auto;*/
	background-color: skyblue;
	padding: 10px;
	border: 6px solid #FF0099;
	margin-bottom: 10px;
}

.appointment-add {
	font-size: 20pt;
	position: relative;
	background-color: green;
	border: 4px solid white; 
	padding: 12px;
	border-radius: 24px;
	float: right;
	display: none;
}

.appointment-form {
	display: inline-block;
	padding: 2px;
	font-size: 14pt;
}

.button-container {
	position: relative;
	float: right;
	display: inline;
}

.input-form {
	font-size: 8pt;
	display: inline;
}

.date-button-container {
	height: 65px;
}

#main-container {
	position: relative;
	top: 140px;
}

header {
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 3;
	background-color: red;
	font-size: 20pt;
	padding: 15px;
	/*
	padding-left: 20px;
	*/
}